extends layout

block variables
  - var title = "Home"

block content
  h2.text-center JobsNet 

  h3.text-center O maior banco de talentos da internet! 

  h4.text-center Venha fazer parte desta revolução! 



  //- if posts == null
  //-   p.empty.text-center Uh oh. There are no posts to view!

  //- .posts
  //-   ul
  //-     each post in posts
  //-       .row
  //-         .offset-sm-2.col-sm-8
  //-           li
  //-             a(href="/" + post.slug, title=post.title)= post.title
